.followsDiv{
    display: inline-flex;
    padding: 4px 8px;
    align-items: flex-start;
    gap: 1px;
    border-radius: 10px;
    background-color: #121212;
    color: #FFF;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}