.cardContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    height: 232px;
    width: 159px;
}

.imageContent{
    width: 159px;
    height: 205px;
    flex-shrink: 0;
    background-color: #FFF;
    border-radius: 10px;
}

.follows{
    padding: 2px 6px 6px 6px;
}

.cardTitle{
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

